<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unicorn TRIP</title>
    <link rel="shortcut icon" href="/public/images/horn.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
<script>
    let cities = [];
</script>
<header>Unicorn</header>
<form action="/process" method="post" id="startTHIS">
    <label>

        <input type="number" name="price" required step="0.01" value="1000" placeholder="Price" min="5"></label>
    <label>
        <select name="cityFrom" id="" required>
            <option value="" selected="selected" disabled>Origin</option>
            {{#each cities}}
                <option value="{{this.id}}">{{this.name}}</option>
                <script> cities.push({id:parseInt('{{this.id}}'), name: '{{this.name}}'})</script>
            {{/each}}
        </select>
    </label>
    <label>
        <select name="cityTo" id="" required>
            <option value="" selected="selected" disabled>Destination</option>

            {{#each cities}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </label>
    <label>
        <input type="number" name="days" required min="1" value="3" placeholder="Days"></label>

    </label>
    <label>
        <div id="attr">
            <details>
                <summary>Attractions</summary>
                {{#each categories}}
                    <label><input type="checkbox" value="{{this.id}}">{{this.name}}</label>
                {{/each}}

            </details>
        </div>
        <!--<p>Attraction</p>-->

        <!--<select name="attr" id="" required>-->
            <!--{{#each categories}}-->
                <!--<option value="{{this.id}}">{{this.name}}</option>-->
            <!--{{/each}}-->
        <!--</select>-->
    </label>
    <label for="">
        <p>Date</p>
        <input type="date" name="date" required>
    </label>
    <input type="submit">
</form>
<!--<div class="results">-->
    <!--<div class="results-tickets result-item">-->
        <!--<div class="switch switch-left"></div>-->
        <!--<div class="result-content"></div>-->
        <!--<div class="switch switch-right"></div>-->
    <!--</div>-->
    <!--<div class="results-hotels result-item">-->

    <!--</div>-->
    <!--<div class="results-attrs result-item">-->

    <!--</div>-->
<!--</div>-->

<div class="results">
    <div class="results-tickets result-item results-ticket-to">
        <!--<div class="result-slide">-->

        <!--<div class="switch switch-left"></div>-->
        <!--<div class="result-content">-->
            <!--<div class="image-cont"><div class="image"></div><div class="price">120$</div></div>-->
            <!--<div class="info-cont">-->
                <!--<div class="part item">-->
                    <!--<div class="city">City 1</div>-->
                <!--</div>-->
                <!--<DIV class="middle item">-->
                    <!--<div class="line"></div><div class="date">17.09.2017 17:00</div>-->
                <!--</DIV>-->
                <!--<div class="part item">-->
                    <!--<div class="city">City 2</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="switch switch-right"></div>-->
        <!--</div>-->
    </div>
    <div class="results-tickets result-item results-ticket-back">
        <!--<div class="switch switch-left" ></div>-->
        <!--<div class="result-content">-->
            <!--<div class="image-cont"><div class="image"></div><div class="price">120$</div></div>-->
            <!--<div class="info-cont">-->
                <!--<div class="part item">-->
                    <!--<div class="city">City 1</div>-->
                <!--</div>-->
                <!--<DIV class="middle item">-->
                    <!--<div class="line"></div><div class="date">17.09.2017 17:00</div>-->
                <!--</DIV>-->
                <!--<div class="part item">-->
                    <!--<div class="city">City 2</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="switch switch-right" data-dir="1"></div>-->
    </div>
    <div class="results-hotels result-item">
        <div class="switch switch-left"></div>
        <div class="result-content">
            <div class="image-cont"><div class="image"></div><div class="price">120$</div></div>
            <div class="info-cont">
                <span class="name">dwddwd</span>
                <span class="mark">5</span>
                <span class="address">dewdf ewdf ef ewf</span>

            </div>
        </div>
        <div class="switch switch-right"></div>
    </div>
    <div class="results-attrs">
        <div class="switch switch-left"></div>
        <div class="result-content">
            <form action="" id="attrForm">
                <label for="">
                    <input type="checkbox" class="attr-item">
                    <span class="title">Item 1</span>
                </label>
                <label for="">
                    <input type="checkbox" class="attr-item">
                    <span class="title">Item 2</span>

                </label>
                <label for="">
                    <input type="checkbox" class="attr-item">
                    <span class="title">Item 3</span>
                </label>
                <label for="">
                    <input type="checkbox" class="attr-item">
                    <span class="title">Item 4</span>
                </label>
                <label for="">
                    <input type="checkbox" class="attr-item">
                    <span class="title">Item 4</span>
                </label>
                <label for="">
                    <input type="checkbox" class="attr-item">
                    <span class="title">Item 4</span>
                </label>
                <label for="">
                    <input type="checkbox" class="attr-item">
                    <span class="title">Item 4</span>
                </label>
                <label for="">
                    <input type="checkbox" class="attr-item">
                    <span class="title">Item 4</span>
                </label>
                <label for="">
                    <input type="checkbox" class="attr-item">
                    <span class="title">Item 4</span>
                </label>
            </form>
        </div>
        <div class="switch switch-right"></div>
    </div>
</div>
<script src="javascripts/jquery-3.2.1.min.js"></script>
<script>
$(function () {
    console.log(cities);
    $('form#startTHIS').submit(function (e) {
        e.preventDefault();
        let from = document.getElementById('startTHIS');
        let price = from.price.value;
        let cityFrom = from.cityFrom.value ;
        let cityTo = from.cityTo.value ;
        let days = from.days.value ;
        let name_city_from = from.cityFrom.options[from.cityFrom.selectedIndex ].text;
        let name_city_to = from.cityTo.options[from.cityTo.selectedIndex ].text;

//        let attr = from.attr.value ;
        let attr = [];
        $('form#startTHIS div#attr input:checked').each(function() {
            attr.push($(this).attr('value'));
        });
//        attr = attr.join(',');
//        alert(attr);
        let date = from.date.value ;
//        console.log(price, cityFrom, cityTo, days, attr, date);
        $.ajax({
            url: "/process",
            method: "POST",
            cache: false,
            data: {
                price, cityFrom,cityTo,days,attr: attr.join(','),date
            },
            success: function (data) {
                console.log(data);
//                if(data.indexOf('%TICKET-ERROR%') > -1 || data.indexOf('%%NO-TICKETS-TO%%') > -1 || data.indexOf('%TICKET-ERROR%') > -1 || data.indexOf('%NO-TICKETS-BACK%') > -1 ) {
                if(data.indexOf('%') > -1 ) {
                    console.log('no');
                    $('div.results').css('display', 'none');

                    return;
                }
                let obj = JSON.parse(data);
                console.log(obj);
                if(obj.attractions.length > 0){
                    //TODO сделать вывод результата
                    $('div.results').css('display', 'flex');
                    let str = '';
                    for(let i=0; i< obj.tickets_to.length; i++){
                        let thisDate = obj.tickets_to[i].datetime;
                        thisDate = thisDate.replace('T', ' ').substr(0, thisDate.indexOf('.'));
                        str+=`         <div class="result-slide" data-num=${i}>
                            <div class="switch switch-left" data-dir="-1"></div>
                                    <div class="result-content">
                                        <div class="image-cont"><div class="image"></div><div class="price">${obj.tickets_to[i].price}$</div></div>
                                        <div class="info-cont">
                                            <div class="part item">
                                                <div class="city">${name_city_from}</div>
                                            </div>
                                            <DIV class="middle item">
                                                <div class="line"></div><div class="date">${thisDate}</div>
                                            </DIV>
                                            <div class="part item">
                                                <div class="city">${name_city_to}</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="switch switch-right" data-dir="1"></div></div>`;

                    }
                    $('div.results-ticket-to').append(str);
                    str = '';

                    for(let i=0; i< obj.tickets_back.length; i++){
                        let thisDate = obj.tickets_back[i].datetime;
                        thisDate = thisDate.replace('T', ' ').substr(0, thisDate.indexOf('.'));
                        str+=`         <div class="result-slide" data-num=${i}>
                            <div class="switch switch-left" data-dir="-1"></div>
                                    <div class="result-content">
                                        <div class="image-cont"><div class="image"></div><div class="price">${obj.tickets_back[i].price}$</div></div>
                                        <div class="info-cont">
                                            <div class="part item">
                                                <div class="city">${name_city_to}</div>
                                            </div>
                                            <DIV class="middle item">
                                                <div class="line"></div><div class="date">${thisDate}</div>
                                            </DIV>
                                            <div class="part item">
                                                <div class="city">${name_city_from}</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="switch switch-right" data-dir="1"></div></div>`;

                    }
                    $('div.results-ticket-back').append(str);
                    str = '';





                    $('div.switch').click(function (e) {

                        let dir = parseInt($(this).attr('data-dir'));
                        let mar = $(this).parent().css('margin-left');
//                        let mar = $(this).parent().parent().children().first().css('margin-left');
//                        let el = document.querySelector('div.')
//                        let mar = $('div.result-slide')[0].css('margin-left');
                        alert(mar);
                        if(dir>0){
                            console.log($(this).parent());
                            console.log($(this).parent().parent().children().first());
//                            $(this).parent().parent().children().first().animate({'margin-left': 'calc( ' + mar +' - 100% )'}, 250);
                            $(this).parent().animate({'margin-left': 'calc( ' + mar +' - 100% )'}, 250);
                        }
                        else{
                            $(this).parent().parent().children(0).animate({'margin-left': '100%'}, 250);
                        }
                    });
                }
                else{
                    console.log('no');
                    $('div.results').css('display', 'none');

                }


            }
        });
    });

})
</script>
</body>
</html>



